# Project
PROJECT_NAME=XXX
LOG_LEVEL=DEBUG

# Database
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=database
POSTGRES_HOST=host
POSTGRES_PORT=port

# Vector DB (Qdrant)
QDRANT_HOST=localhost
QDRANT_PORT=6333